HOMEWORK

In [2]:
identificacion = input("digite nro de identificacion: ")
nombre = "Maggie"
print(nombre)
apellido = "Hernandez"
print(apellido)
direccion = "calle 6d 80-89"
print(direccion)
telefono = 7508308
print(telefono)
edad = 40
print(edad)
estado_civil = "soltera"
print(estado_civil)
nro_de_hijos = 1
print(nro_de_hijos)
estatura_en_centimetros = 160
print(estatura_en_centimetros)
dia_de_contratacion = "08"
mes_de_contratacion = "03"
año_de_contratacion = "2022"
print(dia_de_contratacion + "/" + mes_de_contratacion + "/" + año_de_contratacion)
sueldo_basico = 4000000
print(sueldo_basico)
dias_laborados = 365
print(dias_laborados)

digite nro de identificacion: 52910410
Maggie
Hernandez
calle 6d 80-89
7508308
40
soltera
1
160
08/03/2022
4000000
365